.profile_block {
    grid-area: profile;
}

.profile {
    background: #313231;
    border-radius: 10px;
    padding: 10px;
    align-self: start;
    margin-bottom: 15px;
}

.post_block {
    background: #313231;
    border-radius: 10px;
    padding: 10px;
    align-self: start;
}

.profile_title {
    color: burlywood;
    margin-bottom: 10px;
}