.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
            'navbar profile rightbar';
    gap: 15px;
    /*display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            'profile friends'
            'profile subscriptions';
    gap: 15px;*/
}