.content {
    grid-area: content_app;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
            'navbar content_page rightbar';
    gap: 15px;
}

.content_page {
    grid-area: content_page;
}