.navbar {
    grid-area: navbar;
    padding: 10px;
    background: #313231;
    border-radius: 10px;
    align-self: start;
}

.navbar a {
    color: #968334;
    text-decoration: none;
}

.active {
    color: chartreuse;
}