/*.navbar {*/
/*    grid-area: navbar;*/
/*    font-size: 20px;*/
/*}*/

/*.navbar_block {*/
/*    padding: 10px;*/
/*    background: #2b2b2b;*/
/*    border-radius: 10px;*/
/*}*/

.navbar {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.navbar a {
    text-decoration: none;
    color: aliceblue;
}

.navbar a:hover {
    text-decoration: none;
    color: gold;
    background-color: #4a0000;
}
