.App-wrapper {
    height: 680px;
    background: #3c3f41;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
            'header header'
            'navbar content';
}