.App-wrapper {
    background: #191b15;
    color: aliceblue;
}

.grid_block {
    min-height: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
            'header header'
            'navbar content';
    height: 680px;
    margin-left: 200px;
    margin-right: 200px;
    justify-items: auto;
    align-items: start;
    gap: 15px;
}